$fontColor: ('orange': #FF7F50, 'yellow': #ffd703,'white': #FFFFFF, 'black': #040405, 'grey':#969696,'fb':#39569c,'google':#db4a39, 'green':#50b185, 'toastRed':#ff8080d9, 'greyish': 151515, 'lightGrey':#dcdcdc8c)

$sectionColor: ('orange': map-get($fontColor, 'orange'),'white': map-get($fontColor, 'white'))
$size: ('tiny': .5rem,'small': .7rem, 'one': 1rem, 'medium': 1.5rem, 'two': 2rem, 'large': 2.5rem, 'three': 3rem)
$break-small: 320px
$break-large: 1200px
$break-medium: 768px
